<!DOCTYPE html>

<html>
	<head>
		<title>Item Deleted - barter</title>
		<link rel="stylesheet" type="text/css" href="css/barter.css">
	</head>
	<body>
		<h1>Item Deleted</h1>
		<p>The item "<%= name %>" (ID#<%= itemID %>) has been removed from the database.</p>
		<div>
			<p><a href="/viewAll">Click here</a> to return to viewing all items.</a></p>
		</div>
	</body>
</html>
