<!DOCTYPE html>

<html>
	<head>
		<title>Index - barter</title>
		<link rel="stylesheet" type="text/css" href="css/barter.css">
	</head>
	<body>
		<% if (user) { %>
			<div style="position:fixed; display:inline-block; top:0px; right:0px;">
				Welcome, <%= username %>!
			</div>
		<% } %>
		<h1>Welcome to the index!</h1>
		<div>
			<p>For now, this page is just a placeholder.<br>
			Click the links below to travel to available pages.</p>
			<ul>
				<!-- List of available pages goes here -->
				<li><a href="/">Index Page</a></li>
				<li><a href="/login">Log In</a></li>
				<li><a href="/register">Register</a></li>
			</ul>
	</body>
</html>
