<!DOCTYPE html>

<html>
	<head>
		<title>Thank you! - barter</title>
		<link rel="stylesheet" type="text/css" href="/css/barter.css">
	</head>
	<body>
		<h1>Thank you for registering!</h1>
		<div>
			<p><a href="/">Click here</a> to return to the index page. <br>
			Don't forget to <a href="/login">log in</a>!</p>
	</body>
</html>